@import url("modern-normalize.css");

@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../assets/fonts/InterVariable.woff2") format("woff2");
}

:root {
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --neg-size-2: -0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-8: 2rem;
  --size-12: 3rem;
  /* colors */
  --rose-200: #fecdd3;
  --rose-400: #fb7185;

  --indigo-50: #eef2ff;
  --indigo-200: #c7d2fe;
  --indigo-400: #818cf8;
  --indigo-600: #4f46e5;

  --gray-50: #f8fafc;
  --gray-200: #e5e7eb;
  --gray-500: #6b7280;
  --gray-700: #374151;
  --gray-900: #1f2937;

  --green-50: #ecfdf5;
  --green-600: #059669;
}

body {
  font-family: "InterVariable", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-optical-sizing: auto;
  font-size: var(--size-4);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: var(--gray-500);
  font-weight: 600;
  font-size: var(--size-8);
}

a {
  color: var(--indigo-600);
}

/* main page styles */
.page-wrapper {
  margin: 0 var(--size-4);
}

@media (min-width: 1024px) {
  .page-wrapper {
    margin: 0 var(--size-8);
  }
}

#loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 4rem 0px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--size-4) 0px var(--size-8) 0px;
}

#book-cards__container {
  display: grid;
  gap: var(--size-8);
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin-bottom: var(--size-8);
}
@media (min-width: 640px) {
  #book-cards__container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 768px) {
  #book-cards__container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  #book-cards__container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.pagination__container {
  width: 100%;
  display: flex;
  gap: var(--size-4);
  margin-bottom: var(--size-8);
  align-items: center;
  justify-content: center;
}

#pagination__prev-btn,
#pagination__next-btn {
  color: #312e81;
  cursor: pointer;
  padding: var(--size-2) var(--size-4);
  border: 2px solid var(--indigo-400);
  background-color: var(--indigo-200);
}

#pagination__prev-btn:hover,
#pagination__next-btn:hover {
  border: 2px solid var(--indigo-600);
}

#pagination__prev-btn {
  border-radius: var(--size-2) 0px 0px var(--size-2);
}
#pagination__next-btn {
  border-radius: 0px var(--size-2) var(--size-2) 0px;
}

#pagination__prev-btn:disabled,
#pagination__prev-btn:disabled:hover,
#pagination__next-btn:disabled,
#pagination__next-btn:disabled:hover {
  border: 2px solid var(--indigo-200);
  cursor: not-allowed;
  opacity: 50%;
}

.book-card__img {
  height: 350px;
  width: 100%;
  scale: 1;
  object-fit: none;
  object-position: center;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  overflow: hidden;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 300ms;
  scale: 1;
}
.book-card__img:hover {
  scale: 1.05;
}

.book-card {
  position: relative;
  width: 100%;
  border-radius: var(--size-2);
  margin-bottom: var(--size-8);
  overflow: hidden;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.book-card__wishlist-toggler {
  position: absolute;
  top: var(--size-3);
  right: var(--size-3);
  color: inherit;
  background-color: var(--rose-200);
  padding: var(--size-2);
  border: 2px solid var(--rose-400);
  border-radius: var(--size-2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.book-card__body {
  margin: var(--size-4);
  display: grid;
  gap: var(--size-2);
}

.book-card__title {
  font-weight: 600;
  font-size: var(--size-4);
  cursor: pointer;
  text-decoration: underline;
  /* line-clamp */
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.book-card__authors {
  font-size: var(--size-4); /* just a bit more than --size-4*/
  color: var(--gray-700);
}

.book-card__genre {
  background: var(--indigo-50);
  width: fit-content;
  font-weight: 500;
  font-size: var(--size-3);
  color: var(--indigo-600);
  border-radius: var(--size-2);
  padding: var(--size-1) var(--size-2);
}

.book-card__id {
  color: var(--gray-500);
  font-weight: 500;
  font-size: var(--size-3);
  /* margin-bottom: var(--size-2); */
}

.view-wishlist {
  color: black;
  font-size: var(--size-4);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: var(--size-1);
  background-color: var(--rose-200);
  border: 2px solid var(--rose-200);
  border-radius: var(--size-2);
  padding: var(--size-1) var(--size-3);
}

.view-wishlist:hover {
  border: 2px solid var(--rose-400);
}

.pagination-container {
  display: flex;
  gap: var(--size-4);
  align-items: center;
}

#book-details__container {
  display: flex;
  flex-direction: column;
  gap: var(--size-12);
}

@media (min-width: 768px) {
  #book-details__container {
    flex-direction: row;
  }
}

.book-details__img {
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .book-details__img {
    width: 300px;
    height: 100%;
    margin: 0px;
  }
}

.book-details__title {
  color: var(--gray-900);
  font-size: var(--size-8);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: var(--size-4);
}

.book-details__authors {
  font-size: 1.1rem; /* just a bit more than --size-4*/
  color: var(--gray-700);
  margin: var(--size-4) 0;
  padding-bottom: var(--size-4);
  border-bottom: 1px solid var(--gray-200);
}

.book-details__id {
  color: var(--gray-500);
  font-weight: 500;
  font-size: var(--size-3);
  margin-bottom: var(--size-2);
}

.book-details__languages {
  display: flex;
  gap: var(--size-2);
  align-items: center;
  margin: var(--size-4) 0;
}

.book-details__languages::before {
  content: "Available in:";
  font-size: var(--size-4);
  color: var(--gray-500);
}

.book-details__languages-item {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-details__topic {
  background: var(--indigo-50);
  width: fit-content;
  font-weight: 500;
  font-size: var(--size-3);
  color: var(--indigo-600);
  border-radius: var(--size-2);
  padding: var(--size-1) var(--size-2);
}

.book-details__downloads {
  display: inline-flex;
  align-items: center;
  gap: var(--size-2);
  background: var(--green-50);
  color: var(--green-600);
  padding: var(--size-2) var(--size-3);
  border-radius: var(--size-2);
  font-weight: 600;
}

.book-details__downloads::before {
  content: "↓";
  font-size: var(--size-4);
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.search-filter__container {
  margin-bottom: var(--size-4);
  gap: var(--size-4);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media (min-width: 640px) {
  .search-filter__container {
    flex-direction: row;
  }
}

.search__container {
  width: 100%;
  padding: var(--size-2) var(--size-4);
  border: 2px solid var(--indigo-600);
  border-radius: var(--size-2);
}
@media (min-width: 640px) {
  .search__container {
    width: 70%;
  }
}

.search-input {
  width: 100%;
  border: 0px solid transparent;
}
.search-input:focus {
  outline: none;
}

.filter__container {
  width: 100%;
  padding: var(--size-2) var(--size-4);
  border: 2px solid var(--indigo-600);
  border-radius: var(--size-2);
}
@media (min-width: 640px) {
  .filter__container {
    width: 30%;
  }
}

.select-input {
  width: 100%;
  border: 0px solid transparent;
}
.select-input:focus {
  outline: none;
}
